#title: "Slog"
author:
  name: "Stephen Doyle"
  avatar: "/assets/images/slog.jpg"
  bio: "Life Hacks and Programming"
  links:
    - label: "GitHub"
      icon: "fa-brands fa-github-square"
      url: "https://github.com/stevedoyle"
    - label: "LinkedIn"
      icon: "fa-brands fa-linkedin"
      url: "https://www.linkedin.com/in/stephendoyle75/"
description: "Life Hacks and Programming" # This will show up in places like twitter, linkedin, etc, if you share your sites url as a post.
logo: "/assets/images/slog.jpg" # This is used in the header and footer, and also as a favicon.
# This is the URL of your site, used for links and sharing.
url: "https://slog.stevedoyle.io"
masthead_title: "SLOG" # This is the title of the site, used in the masthead.

# All of these are optional and can be removed or commented out
#email: "example@mail.com"
#twitter_username: "twitteruser"
#github_username: "stevedoyle"
#linkedin_username: "linkedinuser"
#facebook_username: username
#flickr_username: username
#instagram_username: username
#pinterest_username: username
#youtube_username: username
#googleplus_username: +username

#########################################################################################
######### Nothing below needs to be changed (unless you know what you're doing) #########
#########################################################################################
#theme: "minima"
#remote_theme: pages-themes/minimal@v0.2.0
remote_theme: "mmistakes/minimal-mistakes@4.27.1"
minimal_mistakes_skin: "default"
search: true
rss: rss

# Font sizes
type_size:
  base: 12px  # default is 16px

kramdown:
  input: GFM
highlighter: rouge

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-gist
  - jekyll-include-cache
#  - jemoji
#  - jekyll-remote-theme

# Outputting
permalink: /:categories/:title/
#paginate: 5 # amount of posts per page
#paginate_path: /page:num/

pagination:
  enabled: true
  collection: 'posts'
  per_page: 10
  permalink: '/page/:num/' # Pages are index.html inside this folder
  title: ':title - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  trail:
    before: 2
    after: 2

include:
  - _pages

# Set the Sass partials directory, as we're using @imports
#sass:
#  style: compressed # You might prefer to minify using :compressed

#titles_from_headings:
#  strip_title: true
#  collections: true

#show_downloads: false
#show_excerpts: true


defaults:
  # Everywhere
  - scope:
      path: ""
    values:
      header:
        image: /assets/images/header.jpg
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      share: true
      related: true
      show_date: true
      classes: wide
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
      classes: wide

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

